<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinopoiskLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KinopoiskLib.Properties.Settings>
            <setting name="RussianTitlePattern" serializeAs="String">
                <value>&lt;title&gt;(?&lt;RussianTitle&gt;[^&lt;]*)&lt;/title&gt;</value>
            </setting>
            <setting name="OriginalTitlePattern" serializeAs="String">
                <value>&lt;span itemprop="alternativeHeadline"&gt;(?&lt;OriginalTitle&gt;[^&lt;]*)&lt;/span&gt;</value>
            </setting>
            <setting name="DescriptionPattern" serializeAs="String">
                <value>&lt;div class="brand_words" itemprop="description"&gt;(?&lt;Description&gt;[^/]*)&lt;/div&gt;</value>
            </setting>
            <setting name="ReleaseDatePattern" serializeAs="String">
                <value>&lt;a href="/film/[0-9]+/dates/" title=""&gt;(?&lt;ReleaseDate&gt;[^/]*)&lt;/a&gt;</value>
            </setting>
            <setting name="ReleaseDateRusPattern" serializeAs="String">
                <value>&lt;a href="/level/8/view/prem/year/[0-9]+/#[0-9]+"&gt;(?&lt;ReleaseDate&gt;[^/]*)&lt;/a&gt;</value>
            </setting>
            <setting name="GenrePattern" serializeAs="String">
                <value>&lt;a href="/lists/m_act%5Bgenre%5D/[0-9]+/" &gt;(?&lt;Genre&gt;[а-я]+)&lt;/a&gt;</value>
            </setting>
            <setting name="KinopoiskSearchUrlPattern" serializeAs="String">
                <value>http://www.kinopoisk.ru/index.php?first=yes&amp;kp_query={0}</value>
            </setting>
            <setting name="PosterUrlPattern" serializeAs="String">
                <value>http://st.kinopoisk.ru/images/poster/sm_(?&lt;PosterId&gt;[0-9]+).jpg</value>
            </setting>
            <setting name="PersonPattern" serializeAs="String">
                <value>&lt;a href="/name/(?&lt;PersonId&gt;[0-9]+)/"&gt;(?&lt;RussianName&gt;[^&lt;]+)&lt;/a&gt; &lt;span class="gray"&gt;(?&lt;EnglishName&gt;[^&lt;]+)&lt;/span&gt;</value>
            </setting>
            <setting name="DepartmentPattern" serializeAs="String">
                <value>&lt;div style="padding-left: 20px; border-bottom: 2px solid #f60; font-size: 16px"&gt;(?&lt;Department&gt;[^&lt;]+)&lt;/div&gt;</value>
            </setting>
            <setting name="PhotoUrlPattern" serializeAs="String">
                <value>http://tr-by.kinopoisk.ru/images/actor/{0}.jpg</value>
            </setting>
            <setting name="KinopoiskFilmDetailUrlPattern" serializeAs="String">
                <value>http://www.kinopoisk.ru/film/{0}</value>
            </setting>
            <setting name="KinopoiskFilmActorsUrlPattern" serializeAs="String">
                <value>http://www.kinopoisk.ru/film/{0}/cast/</value>
            </setting>
            <setting name="KinopoiskFilmPostersUrlPattern" serializeAs="String">
                <value>http://www.kinopoisk.ru/film/{0}/posters/</value>
            </setting>
            <setting name="KinopoiskFilmRelatedUrlPattern" serializeAs="String">
                <value>http://www.kinopoisk.ru/film/{0}/like/</value>
            </setting>
            <setting name="RelatedMoviesPattern" serializeAs="String">
                <value>&lt;a style="font-size: 13px; font-weight: bold" href="/film/(?&lt;KinopoiskId&gt;[0-9]+)/" class="all"&gt;</value>
            </setting>
        </KinopoiskLib.Properties.Settings>
    </applicationSettings>
</configuration>